.card-container {
  position: relative;
  overflow: scroll;
  min-height: 200px;
  width: calc(100% + 2px);
  margin-left: -1px;
  cursor: grab;
  border-right: 1px solid #d4d4d5;
  border-bottom: 1px solid #d4d4d5;
  border-left: 1px solid #d4d4d5;
  border-radius: 0 0 5px 5px;
}

.card-container svg path {
  stroke: #CECECE;
  stroke-width: 4;
  stroke-linejoin: round;
  fill: transparent;
  pointer-events: none;
}

.card-container svg path.onPath {
  stroke: #FEC04F;
}
