
.react-gc-orgchart-wrapper-minichart-wrapper {
  position: absolute;
  margin: 70px 0 0 5px;
  padding: 10px;
  border: 1px solid transparent;
  background: #fff;
  z-index: 100;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.15);
}

.react-gc-orgchart-wrapper-minichart {
  overflow: hidden;
  max-height: 450px;
  max-width: 300px;
}

.react-gc-orgchart-wrapper-menu {
  border-bottom: 1px solid #ccc;
  padding: 10px 0 5px 10px;
}
